PORT=3000

DATABASE_URL="postgresql://sgcm_app:CONTRASENA_AQUI@localhost:5432/sistema_gestion_comercial_multiempresa?schema=public"

SHADOW_DATABASE_URL="postgresql://sgcm_app:CONTRASENA_AQUI@localhost:5432/sistema_gestion_comercial_multiempresa_shadow?schema=public"